[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	l = log --all --graph
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[user]
	name = Shahor
	email = shahor@shahor.fr
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
	editor = /usr/bin/vim
